[{:itonami.blueprint/social-impact [:worker-safety :industrial-continuity]
  :itonami.blueprint/domain :manufacturing/weaving-knitting-mill-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "8152"
  :itonami.blueprint/name "Weaving and Knitting Mill Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :mill-coord-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-8152"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
